.cartBody {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: var(--background);
  border-radius: 5px;
}

.cartItem {
  margin-bottom: 15px;
}

.itemDescription {
  font-size: 18px;
  margin-bottom: 5px;
}

.itemQuantity {
  font-size: 16px;
  margin: 0;
}

.itemPrice {
  font-size: 16px;
  margin: 0;
}

.subtotal {
  font-size: 16px;
  margin: 0;
}

.checkoutLink {
  text-decoration: none;
  color: #0070f3;
  font-weight: 500;
  display: block;
  margin-top: 15px;
}
