* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ff5a09;
}
.main {
  display: flex;
  justify-content: flex-end; /* poravna sve linkove na desnu stranu */
  background-color: #393939; /* primjer pozadinske boje */
  padding: 10px 20px; /* dodaje malo prostora oko navigacije */
}

.main a {
  color: white; /* boja teksta linkova */
  margin-left: 20px; /* razmak između linkova */
  text-decoration: none; /* uklanja podvlaku ispod linkova */
  padding: 5px 10px; /* malo dodatnog prostora oko teksta za bolju čitljivost */
  transition: background-color 0.3s; /* animacija pozadine prilikom hover efekta */
}

.main a:hover {
  background-color: #555; /* promijeni boju pozadine prilikom prelaska mišem preko linka */
}
.featured {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.puppy-image {
  width: 100%;
  display: block;
}

.featured-content {
  position: absolute;
  top: 50%; /* pomeri sadržaj na sredinu po visini */
  right: 20px; /* dodaje malo prostora sa desne strane */
  transform: translateY(
    -50%
  ); /* pomera sadržaj nazad na pravu vertikalnu poziciju */
  color: black;
}
.featured-text {
  font-family: 'Georgia', serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.6;
  color: #000000;
  text-align: justify;
  padding: 10px;
  background-color: transparent;
  margin: 10px 0;
}
.btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00ff08;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
.btn:hover {
  background-color: #e34e00;
}

.breeds {
  text-shadow: 2px 2px whitesmoke;
  font-family: Arial, sans-serif;

  font-size: 24px;
  text-align: center;
}

.product-section {
  text-align: center;
  padding: 10px 20px;
  width: 80%;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.product-list li {
  margin: 0 10px;
  padding: 0;
  text-align: center;
}

.product-list img {
  max-width: 100%;
  height: auto;
}

.product-name {
  margin-top: 10px;
}

footer {
  background-color: #393939;
  width: 100%;
  display: block;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  color: white;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.kvadrat {
  width: 450px;
  height: 550px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;

  /* Dodano za 3D efekt */
  perspective: 1500px;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(15deg);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.kvadrat p {
  margin: 0;
  text-align: center;
}
.styled-text {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #393939;
  margin: 20px;
  padding: 15px;
  max-width: 600px;
  text-align: justify;
}
.round-circle {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.rounded-circle {
  background: darkorange;
  color: #00ff08;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25%, -25%);
}
