.container {
  padding: 1rem;
  margin-top: 8rem;
}

.dogList {
  list-style-type: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem; /* space between grid items */
}

.dogItem {
  flex-basis: 33.33%;
  margin-bottom: 5rem;
  text-align: center;
  transition: transform 0.2s;
}

.dogItem:hover {
  transform: scale(1.05); /* subtle hover effect */
}
.dogItem a {
  text-decoration: none;
}
.dogName {
  color: #d21e1e;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}
.star {
  margin-right: 5px;
  color: yellowgreen;
}
